a {text-decoration: none; }
.style1 {
	font-family: Raleway, "Times New Roman", Times, serif;
	font-size: large;
	color: #666666;
}
.style2 {
	font-family: Raleway, "Times New Roman", Times, serif;
	font-size: 2.0em;
	color: #006699;
	font-weight: bold;
}
.style1 a {color:#666666;}		
.style1 a:hover {color:#3C83C4;}	
.style2 a {color:#3C83C4;}
.style2 a:hover {color:#008c99;}
	
body {
	background: url(http://yaleinsurance.test/images/site/bg-image.jpg) center top; background-size: 100%; background-repeat: no-repeat;
}

table {padding: 200px;}	

@media screen and (max-device-width: 480px) { 
/* For mobiles */	
}
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For ipad portrait layouts only */
	
}
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	table {padding: 0px;}	
}